ul{
    list-style-type: none;
    overflow: hidden;
    border: 1px solid lightgray;
}
li{
    float: left;
}
.nav-right{
    float: right;
}
a{
    text-decoration: none;
    color: darkcyan;
}
li a{
    display: block;
    color: darkgray;
    padding: 10px;
}
li a:hover{
    background-color: lightblue;
}
li a.active{
    background-color: lightblue;
    color: white;
}